<h1>Listing spam_posts</h1>

<table>
  <tr>
    <th>Post</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @spam_posts.each do |spam_post| %>
  <tr>
    <td><%= spam_post.post %></td>
    <td><%= spam_post.user %></td>
    <td><%= link_to 'Show', spam_post %></td>
    <td><%= link_to 'Edit', edit_spam_post_path(spam_post) %></td>
    <td><%= link_to 'Destroy', spam_post, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Spam post', new_spam_post_path %>
