<div id="page">
  <div id="content">
    <div class="post">
      <h2 class="title"><a href="#">Edit Comment</a></h2>
      <div class="entry">

        <%= form_for([:post, @comment]) do |f| %>
          <p>
          <% if current_user %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <% else %>
            <%= redirect_to log_in_path %>
          <% end %>
          <%= f.label :comment %><br />
          <%= f.text_area :comment %>
          </p>
          <p>
            <%= f.submit "Edit Comment" %>
          </p>
        <% end %>

      </div>
    </div>
  </div>
  <!-- end #content -->
</div>