
	<div id="page">
		<div id="content">
			<div class="user">
				<div class="entry">
					<%= image_tag @user.avatar.url, :height=>200, :width=>200, :style => "border: 1px solid black" %>
					<p><strong>Name:</strong> <%= @user.name %></p>
					<p><strong>Email:</strong> <%= @user.email %></p>
					<p><strong>Contact Number:</strong> <%= @user.contact_num %></p>
					<p><strong>Birthdate:</strong> <%= @user.birthdate %></p>
					<p><strong>Address:</strong> <%= @user.address%></p>
					<p><strong>Reputation:</strong> <%= @user.reputation %></p>
					<p><strong>User Type:</strong> <%= @user.usertype %></p>
				</div>
			</div>
		</div>
		<!-- end #content -->
	
	</div>