<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>PAKALS :: The taste of Cebu</title>
<%= favicon_link_tag "../images/favicon.ico" %>

<link rel="icon" href="../images/favicon.ico" type="image/ico" />
<link href="/assets/favicon.ico" rel="pakals icon" type="image/vnd.microsoft.icon" />
<link href="../images/favicon.ico" rel="pakals icon" type="image/vnd.microsoft.icon" />
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css'>
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<%= favicon_link_tag image_path("../images/favicon.ico") %>

			<div id="logo">
				<% if current_user %>
					<h1><%= link_to image_tag("../images/pakals_logo.png", :padding => 1), posts_path %></h1>
				<% else %>
					<h1><%= link_to image_tag("../images/pakals_logo.png", :padding => 1), log_in_path %></h1>
				<% end %>

			</div>
			
			<div id="white">
				<div id="search"><%= form_tag posts_path, :method => 'get', :id => "posts_search" do %>
				    <%= text_field_tag :search, params[:search] %>
				    <!-- <%= submit_tag " ", :name => nil %> -->
				  </div></div>
				<% end %> 

			<div id="menu">
				<ul>
					<li><%= link_to "Home", posts_path %></li>
					<li><%= link_to "Popular", pages_popular_path %></li>
					<li><%= link_to "Latest", pages_latest_path %></li>
					<li><%= link_to "Towns", pages_towns_path %></li>					
						<% if current_user %>
							<li><%= link_to "Log out", log_out_path %></li>
						<% else %>
							<li><%= link_to "Register", register_path %></li>	
							<li><%= link_to "Log in", log_in_path %></li>
						<% end %>
				</ul>
			</div>
		</div>

		
	</div>
</div>	
	<!-- end #header -->