<div id="page">
	<div id="content">
		<div class="post">
			
				<h2 class="title"><%= @post.title %></h2>&nbsp;

				<div class="entry">
					<small><strong>TOWN/CITY:</strong><%= @post.town_from %></small> <br>

					<%
						def youtube_embed(youtube_url)
								if youtube_url[/youtu\.be\/([^\?]*)/]
								youtube_id = $1
								else
							    # Regex from # http://stackoverflow.com/questions/3452546/javascript-regex-how-to-get-youtube-video-id-from-url/4811367#4811367
							    youtube_url[/^.*((v\/)|(embed\/)|(watch\?))\??v?=?([^\&\?]*).*/]
							    youtube_id = $5
							end

								%Q{<iframe title="YouTube video player" width="640" height="390" src="http://www.youtube.com/embed/#{ youtube_id }" frameborder="0" allowfullscreen></iframe>}
						end
					%>
					<% if @post.videolink != nil and @post.videolink != "" %>
						<p><%= raw(youtube_embed(@post.videolink)) %></p>
					<% end %>
				<p><%= @post.body %></p>
				<p><%= image_tag @post.foodpic.url, :height=>200, :width=>200, :style => "border: 1px solid black" %></p>
					<small><strong>POSTED BY:</strong> <%= @post.user.name%></small> <br>
					<small><strong>Date Published:</strong> <%= @post.created_at %></small> <br>
					<small><strong>Last Modified:</strong> <%= @post.updated_at %></small> <br> <br>	
					<small>
						<div id="like_spam_toggle"><%= render :partial => 'like_spam'%></div>
					</small>
				</div>

				<h3>COMMENTS</h3>
				<br>
				<div id='com'>
				<%= render @post.comments %>
				</div>
				<% if current_user %>
					<div id='comp'>
						<%= render :partial => 'comments/form'%>
					</div>
					
				<% end %>
				<div class = "more2">
					<%= link_to "Back", posts_path %>
				</div>
		
			
		</div>
	</div>
	<!-- end #content -->	
</div>