<!DOCTYPE html>
<html>
<head>
  <title>Pakals</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>



<body>
<%= render :partial => "shared/header" %>
<% if current_page?(:controller => 'pages', :action => 'home') %>
	<div id="header-wrapper">
		<div id="banner">
			<div class="content"><img src="../images/img02.jpg" width="1000" height="400" alt="" /></div>
		</div>
	</div>
<% end %>

<% flash.each do |name, msg| %>
<br/>
<div id="footer-content-wrapper">
<center style = "color: #FFFFFF;"><%= content_tag :div, msg, :id => "flash#{name}" %></center>
</div>
<% end %>


	<div id="sidebar">
		<ul>
			<li>
				<h2>USER MENU</h2>
				<ul>
					<% if current_user %>
						<strong><li><%= current_user.name %></li></strong>
						<li><%= link_to "Update Profile", edit_user_path(current_user.id) %></li>
						<li><%= link_to "Add A New Post", new_post_path %></li>
						<li><%= link_to "View All Posts", view_posts_path %></li>
						<br/>
						<% if current_user.usertype == "1" %>
							<strong><li>Admin Tools</li></strong>
							<ul>
								<li><%= link_to "View Spam Reports" %></li>
								<li><%= link_to "View Spam Comments" %></li>
								<li><%= link_to "View All Users", admin_viewAllUsers_path %></li>
							</ul>	
						<%end%>
					<% else %>
						<li><%= link_to "New User", new_user_path %></li>
						<li><%= link_to "Log In", log_in_path %></li>
					<% end %>


				</ul>
			</li>
		</ul>
	</div>

<%= yield %>

	<!-- end #sidebar -->
	<div style="clear: both;">&nbsp;</div>

<%= render :partial => "shared/footer" %>
</body>
</html>
